.login-container {
  margin: 20px auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 60vh;
  min-width: 220px;
  min-height: 350px;
  border: 2px solid rgb(59, 132, 228);
}
